$text-color: black;
$bg-color: #fbfbfb;
$brand-color: #15c39a;
$light-gray-color: #f0f2f9;

body, a {
  color: $text-color;
  font-family: GilroyLight;
  font-size: 1rem;
}
.strong {
  font-family: GilroyBold;
}
.title {
  font-family: GilroyBold;
  font-size: 2.5rem;
  color: $brand-color;
  span {
    position: relative;
    &.before:before {
      content: '';
      position: absolute;
      width: 300%;
      height: 12px;
      background-color: #f0f2f9;
      bottom: 10px;
      left: -200%;
      z-index: -1;
    }
    &.after:after {
      content: '';
      position: absolute;
      width: 600%;
      height: 12px;
      background-color: #f0f2f9;
      bottom: 10px;
      left: 5%;
      z-index: -1;
    }
  }
}
.sub-title {
  font-family: GilroyBold;
  font-size: 1.2rem;
  &--sm {
    font-size: 1.1rem;
  }
}
.contacts-details {
  font-size: 12px;
  p {
    margin-bottom: 5px;
  }
  a {
    font-size: 12px;
  }
}
ul {
  list-style: none;
  padding-left: 0;
}
.btn {
  background-color: $brand-color;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.pointer {
  cursor: pointer;
}
.text-sm {
  font-size: 0.8rem;
  color: #969595;
}
