.footer {
  border-top: 1px #f0f2f9 solid;
  font-size: .8rem;
  &-wrapper {
    padding: 2rem 0;
  }
  &-logo {
    width: 150px;
    height: 100px;
    background-color: #f1f1f1;
  }
  a {
    font-size: .8rem;
  }
  ul {
    padding-left: 0;
    list-style: none;
  }
  i {
    padding-right: 1rem;
  }
  .copyright {
    font-size: 12px;
    margin-bottom: .5rem;
  }
}
