.header {
  border-bottom: 1px $light-gray-color solid;
  &-top {
    padding: 15px 0; 
    border-bottom: 1px $light-gray-color solid; 
  }
  &-logo {
    width: 120px;
    height: 90px;
    background-color: #f1f1f1;
  }
  .navbar {
    padding: 1.5rem 1rem;
  }
  .select-wrapper {
    position: relative;
    svg {
      position: absolute;
      right: 25px;
      top: 12px;
    }
  }
  .custom-select {
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg className='bi bi-chevron-down' width='1.5em' height='1.5em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillRule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z' clipRule='evenodd'/%3E%3C/svg%3E");
    background-position: 85%, 50%;
    background-size: 12px 15px;
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-link {
    font-family: GilroyBold;
    margin: 0 1.2rem;
    &:first-child {
      margin-left: 0;
      @include media-breakpoint-down(sm) {
        padding-left: 1.2rem;
      }
    }
    &:hover {
      color: #000;
      text-decoration: none;
    }
    &.active {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -32px;
        width: 100%;
        height: 4px;
        background-color: $brand-color;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
  }
  .phone {
    font-size: 25px;
    font-family: GilroyBold;
  }
  .fa-phone {
    font-size: 27px;
    padding-top: 10px;
  }
  .client-location {
    .custom-select {
      border: none;
      border-bottom: 1px dotted #000;
      border-radius: 0;
      background-image: none;
      width: 80px;
      padding: 0;
      margin: 0 10px;
      height: 25px;
    }
  }
  .location-street {
    width: 140px;
  }
}
