.benefits {
  &-wrapper {
    padding: 80px 0;
  }
  &-descr {
    padding: 1rem 0;
  }
  &-img {
    width: 70px;
    height: 60px;
  }
  &-item {
    padding: 15px;
  }
  .col-lg-4:nth-child(-n + 3) {
    border-bottom: 1px solid #f0f2f9;
  }
  .col-lg-4:nth-child(-3n + 5) {
    border-right: 1px solid #f0f2f9;
    border-left: 1px solid #f0f2f9;
  }
  .sub-title {
    padding: 15px 0 0;
    margin-bottom: 10px;
  }
}
