.benefits {
  &-wrapper {
    padding: 5rem 0;
  }
  &-descr {
    padding: 1rem 0;
  }
  &-img {
    width: 70px;
    height: 60px;
  }
  .sub-title {
    padding: 15px 0 0;
    margin-bottom: 10px;
  }
}
