.one-step {
  background-color: $bg-color;
  &-benefits {
    margin: 0 0 2rem 2.5rem;
    list-style: url("data:image/svg+xml,%3Csvg class='bi bi-check' width='1.5em' height='1.5em' viewBox='0 -4 16 16' fill='%2315c39a' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
    li {
      padding-left: 0;
    }
  }
  .title {
    font-size: 2rem;
  }
  .sub-title {
    padding: 1rem 0;
  }
  .form-wrapper {
    width: 60%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  img {
    width: 100%;
  }
  input {
    margin-bottom: 1rem;
  }
  button {
    width: 100%;
  }
}
