.our-team {
  width: 95%;
  margin: 0 auto;
  &-wrapper {
    padding-bottom: 60px;
  }
  &-item {
    margin: 0 15px;
    &-info{
      padding: 20px 15px;
      background: $bg-color;
      .qualification {
        font-size: 13px;
        border: 1px solid #ccc;
        padding: .3rem 1rem;
        border-radius: 20px;
        margin-right: 7px;
      }
      .location {
        margin-top: 20px;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .title {
    padding: 2rem 0;
  }
  button {
    width: 100%;
  }
}
