.services {
  &-wrapper {
    padding: 5rem 0 2rem;
  }
  &-descr {
    width: 60%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &-item {
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    .sub-title {
      font-size: 1rem;
      width: 60%;
      min-height: 50px;
      margin: 15px auto 0;
    }
    .img-box {
      width: 100px;
      height: 80px;
      margin: auto;
      img {
        margin-top: 15px;
      }
    }
  }
}
